<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Joselyn</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am a PhD student at <a href="https://www.ucr.edu/">UCR</a> working on network neuroscience. I am a part of the research group headed by <a href="http://www.fabiopas.it/">Professor Fabio Pasqualetti</a> </font></p>
               
             <br/>
        </div>
    </div>
</section>






